
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');


// color set

$primary: #FF577F;
$hover: #E5707E;
 $secondary:hsl(25, 100%, 94%);
$dark-blue:hsl(220, 13%, 13%);
$light-dark-blue: hsl(219, 9%, 45%);
$light-blue:#FBFBFB;
// $light-blue:hsl(223, 64%, 98%);
$white:hsl(0, 0%, 100%);
$black:hsl(0, 0%, 0%);


// font set:
$font1:'Roboto', sans-serif;
$font2:'Baloo Bhai 2', cursive;
$font3:'Roboto Condensed', sans-serif;
$font4:'Roboto', sans-serif;




